@import "variables.css";
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

body {
	margin: 0;
	font-family: "Inter";
}

@media screen and (min-width: 480px) {
	:root {
		font-size: 14px;
	}
}

@media screen and (min-width: 720px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (min-width: 1080px) {
	:root {
		font-size: 18px;
	}
}

@media screen and (min-width: 1480px) {
	:root {
		font-size: 20px;
	}
}

@media screen and (min-width: 2080px) {
	:root {
		font-size: 24px;
	}
}
