.onboarding-navbar {
	display: flex;
	justify-content: center;
	margin: 3rem 0;
}

.onboarding-navbar > * {
	display: flex;
	align-items: center;
}

.screen-number {
	font-size: small;
	width: 1.4rem;
	height: 1.4rem;
	padding: 0.4rem;
	border-radius: 100%;
	border: 1px solid var(--border-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.number-connector {
	height: 1px;
	width: 1.2rem;
	background-color: var(--border-color);
}

.onboarding-navbar .active {
	color: white;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}
