@import "onboarding-navbar.css";
@import "onboarding-screens.css";

.onboarding-component {
	position: fixed;
	width: fit-content;
	height: fit-content;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 1rem;
}

.onboarding-header {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.onboarding-header .logo {
	height: 1.7rem;
}
